.DS_Store
node_modules/
build/
dist/
npm-debug.log
*.txt
*.log
coverage/
.node-version
tsconfig.json
tslint.json
CHANGELOG.md
.travis.yml
.git/
.github/
appveyor.yml
.nyc_output
.prettierrc
.nycrc
.editorconfig
tsconfig.test.json
.vscode/
test/
